/* ############ CREATE COLORS ############ */
$create-pink-strong: #ec008c;
$create-pink-dark: #ef4b6e;
$create-pink: #ed77a0;
$create-pink-light: #fce2e5;
$create-white: #ffffff;
$create-blue-dark: #0d3d58;
$create-blue: #005c8f;
$create-blue-light: #6b85be;
/* ##################################### */
/* ############## FONTS ################ */
$urbane-condensed-extra-light: urbane-condensed, sans-serif;
$fira-sans-thin: fira-sans, sans-serif;
$code-font: Consolas, "Courier New", monospace;
$font-size-small: 12pt;
$font-size-medium: 24pt;
$font-size-large: 48pt;

/* ##################################### */
$create-border-radius: 10px;
$create-spacing: 15px;
/* ############## BUTTON SIZES ################ */
$button-size-small: 70px;
$button-size-medium: 100px;
/* ############ EXAMPLES ############  */
$example-preview-height: 100px;
/* ########### BREAKPOINTS ########### */
$breakpoint-mobile: 640px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
/* ########### SEARCHBAR ########### */
$searchbar-width: 300px;
/* ########### CONTACT FORM ########### */
$submit-button-width: 300px;
$message-box-height: 400px;
